@font-face {
  font-family: "iconfont"; /* Project id 3783706 */
  src: url('//at.alicdn.com/t/c/font_3783706_6ptfkfi60hc.woff2?t=1669018444056') format('woff2'),
       url('//at.alicdn.com/t/c/font_3783706_6ptfkfi60hc.woff?t=1669018444056') format('woff'),
       url('//at.alicdn.com/t/c/font_3783706_6ptfkfi60hc.ttf?t=1669018444056') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e663";
}

